.idea/
env-sui/
dicewars/dicewars/ai/__pycache__/*
dicewars/dicewars/client/__pycache__/*
dicewars/dicewars/client/game/__pycache__/*
dicewars/dicewars/server/game/__pycache__/*
dicewars/dicewars/ai/xdusek27.py
